[masters]
master ansible_ssh_host=10.1.1.2 ansible_ssh_user=root

[vms]
vm1 ansible_ssh_host=192.168.122.11 ansible_ssh_user=root domain_name=vm1 domain_ip=192.168.122.11 domain_mac=52:54:00:7f:00:a1
vm2 ansible_ssh_host=192.168.122.12 ansible_ssh_user=root domain_name=vm2 domain_ip=192.168.122.12 domain_mac=52:54:00:7f:00:a2
vm3 ansible_ssh_host=192.168.122.13 ansible_ssh_user=root domain_name=vm3 domain_ip=192.168.122.13 domain_mac=52:54:00:7f:00:a3

[vms:vars]
domain_parent=master

